body{
    background-color: black !important;
    font-family: "Inter", sans-serif;
}
a{
    text-decoration: none !important;
    display: inline-block !important;
}
ul{
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.navs {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 20px; 
}
.Hire-me {
    padding: 15px;
    border-radius: 100px;
    background: linear-gradient(45deg, #D11A84,#4F57DE);
    border: rgb(255 255 255) solid 1px;
    width: 100;
    height: 100%;
    text-align: center;
}
.nav {
    align-items: center;
    background: linear-gradient(45deg, #D11A84,#4F57DE);
    border-radius: 100px;
    padding: 1px;
    /* display: flex; */
    /* height: 52px; */
    flex-wrap: wrap;
}
.navs a{
    color: white;
}
.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: rgba(43, 43, 43, 1);
    border-radius: 100px;
    height: 50px;
    /* width: 100%; */
    max-width: 500px;
    border: #4c4c4c solid 1px;
    padding: 0 15px !important;
    background-color: rgb(43 43 43);
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
    
    
.nav ul a{
    text-align: center;
}
header {
    height: 80px;
    align-items: normal;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.header-1 {
    margin-top: 15px;
}


/* banner */


#banner {
    height: 100vh;
    background-image: url(/img/hero-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.banner{
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border: rgba(255, 255, 255, 0.19)solid 1px;
    padding: 30px;
    height: 600px;

}
.highliate {
    color: transparent ;
    background: linear-gradient(45deg, #D11A84, #4F57DE);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;

}
.banner-cnt{
    color: white;
    height: 100%;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.uiux h3{
    color: transparent ;
    background: linear-gradient(45deg, #D11A84, #4F57DE);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.banner-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.download{
    padding: 15px;
    border-radius: 100px;
    background: linear-gradient(45deg, #D11A84,#4F57DE);
    width: 35%;
    text-align: center;
    border: rgb(255 255 255) solid 1px;
    color: white;
}
.download a{
    color: white;
}
.banner-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
}
.icon-down {
    display: flex;
    gap: 2px;
}
.img-icons {
    display: flex;
    justify-content: center;
    gap: 7px;
    background-color: rgba(9, 9, 9, 1);
    border-radius: 100px;
    padding: 5px;
    border: rgb(255 255 255) solid 1px;
    width: 350px;
    margin: auto;
    position: relative;
    bottom: 11px;
}
#banner-bar{
    display: flex;
    justify-content:space-evenly;
    background-color: rgba(35, 35, 35, 1);
    color: white;
    position: relative;
    bottom: 60px;
    height: 88px;
}
.uiux{
    display: flex;
}
.bar-cnt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}


/* about */

#about{
    height: 100vh;
    background-image: url('../img/about-bg-img.png');
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-position: top center; */
    background-position: top -100px left 200px;
}
.about {
    padding-top: 50px;
}
.about-heading {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.about-heading h3{
    color: transparent ;
    background: linear-gradient(45deg, #D11A84, #4F57DE);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
  
}
.about {
    background-color: rgba(23, 23, 23, 0.6);
    border: rgba(255, 255, 255, 0.2)solid 1px;
    border-radius: 50px;
    padding: 10px;
}
.about {
    max-width: max-content;
    margin: auto;
    width: 800px;
    height: 500px;
    padding-top: 30px;
    position: relative;
    top: 20px;
}
.about-text {
    color: white;
    padding-left: 20px;
}
.about-cnt {
position: relative;
top: 60px;
}
.glass {
    position: absolute;
    bottom: 113px;
    left: 70px;
    transition: 0.3s;
}

.about-lap-img {
    position: relative;
}

.about:hover .glass{
    /* bottom: 120px; */
    animation: bounce 2s infinite ;
}

@keyframes bounce {
    0%{
        bottom: 113px;
    }
    50%{
        bottom: 125px;
    }
    100%{
        bottom: 113px;
    }
}



/* skills */


#skills{
    height: 100vh;
    background-image: url('../img/skills-bg-img.png');
    background-repeat: no-repeat;
    background-position: top -120px left 1000px;

}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    bottom: 100px;
    max-width: 700px;
    margin: auto;
    text-align: center;
}
.skills-cnt {
    position: relative;
    bottom: 80px;
    max-width: 900px;
    margin: 0 auto;
}
.skills h3{
    color: transparent ;
    background: linear-gradient(45deg, #D11A84, #4F57DE);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;

}
.skillz-img-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(23, 23, 23, 0.6);
    border: rgba(255, 255, 255, 0.2)solid 1px;
    border-radius: 30px;
    padding: 20px;
    width: 100%;
    height: 305px;
}

.figma-logo img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.figma-logo {
    background-color: white;
    /* width: 60px; */
    /* height: 60px; */
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    overflow: hidden;
}
.loading-bar {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 4px;
    background-color: white;
}
.loading-bar-live {
    border-radius: 10px;
    width: 53%;
    height: 100%;
    background-color: #D11A84;
}
.loading-bar-live.figma{
    width: 93%;
    background: linear-gradient(45deg, rgba(209, 26, 132, 1), rgba(79, 87, 222, 1));

}
.loading-bar-live.Photoshop{
    width: 87%;
    background: linear-gradient(45deg, rgba(209, 26, 132, 1), rgba(79, 87, 222, 1));
}
.loading-bar-live.html{
    width: 85%;
    background: linear-gradient(45deg, rgba(209, 26, 132, 1), rgba(79, 87, 222, 1));
}
.loading-bar-live.css{
    width: 86%;
    background: linear-gradient(45deg, rgba(209, 26, 132, 1), rgba(79, 87, 222, 1));
}
.loading-bar-live.Bootstrap{
    width: 86%;
    background: linear-gradient(45deg, rgba(209, 26, 132, 1), rgba(79, 87, 222, 1));
}
.loading-bar-live.JavaScript{
    width: 80%;
    background: linear-gradient(45deg, rgba(209, 26, 132, 1), rgba(79, 87, 222, 1));
}
.percentage {
    padding-top: 18px;
}

.skills p{
    color: white;
}





/* education */



#Education{
    height: 100vh;
    background-image: url('../img/education\ bg\ image.png');
    background-repeat: no-repeat;
    background-position:bottom 70px left 200px ;
    margin-top: 100px;
}
.education-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
i.fa-solid.fa-graduation-cap {
    font-size: 30;
    padding: 10px;
    position: relative;
    bottom: 5px;
}
.my-education {
    color: transparent ;
    background: linear-gradient(45deg, #D11A84, #4F57DE);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.educational-school {
    
    text-align: center;
    color: white;
    
}
.school-cnt{
    background-color: rgba(23, 23, 23, 0.6);
    border: rgba(255, 255, 255, 0.2)solid 1px;
    border-radius: 30px;
    width: 100%;
    height: 125px;
    padding: 10px;
    margin-bottom: 15px;
}



/* works */

.works-heading{
    color: transparent ;
    background: linear-gradient(45deg, #D11A84, #4F57DE);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
}
.work {
    background-color: rgba(23, 23, 23, 0.6);
    width: 100%;
    margin-bottom: 20px;
    border: rgba(255, 255, 255, 0.2)solid 1px;
    border-radius: 30px;
    color: white;
    padding: 20px;
    height: 100%;
}
.website-name {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}
.view-project {
    padding: 15px;
    border-radius: 100px;
    background: linear-gradient(45deg, #D11A84,#4F57DE);
    width: 30%;
    text-align: center;
    border: rgb(255 255 255) solid 1px;
    color: white;
    
}
.work-photo img{
    width: 100%;
}
.view-project a{
    color: white;
}
.more-project{
    padding: 15px;
    border-radius: 100px;
    background: linear-gradient(45deg, #D11A84,#4F57DE);
    width: 20%;
    text-align: center;
    border: rgb(255 255 255) solid 1px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;    
}
.more-project a{
    color: white;
}


/* contact */

#contact{
    color: rgba(255, 255, 255, 0.829);
    margin-top: 100px;
}
.contact-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    text-align: center;
    margin: auto;
}
.message-cnt {
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    margin-bottom: 20px;
}
.contact-icons {
    background-color: rgba(24, 19, 30, 1);
    border: rgba(255, 255, 255, 0.1)solid 1px;
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
}
.message-cnt p{
    margin: 0;
}
.address p {
    background-color: rgba(217, 217, 217, 0.2);
    margin-bottom: 20px;
    border: rgba(255, 255, 255, 0.1)solid 1px;
    border-radius: 15px;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.22);
}
.input{
    width: 100%;
    background-color: rgba(217, 217, 217, 0.2);
    border: rgba(255, 255, 255, 0.1)solid 1px;
    border-radius: 15px;
    margin-bottom: 10px;
    /* height: 50px; */
    outline: none;
    padding-left: 10px;
    color: white;
    padding: 10px;
}
.address{
    color: white;
    padding: 12px 10px;
}
.message{
    margin-top: 20px;
}
.all-message {
    padding-top: 60px;
}
.all-message a{
    color: white;
}
.all-message p{
    font-weight: 20;
}
.address a{
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    background: linear-gradient(45deg, #D11A84,#4F57DE);
    width: 30%;
    border: rgb(255 255 255) solid 1px;
    color: white;
    display: inline-block !important;
    margin: auto;
}


/* footer */

.footer-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(30, 29, 30, 1);
}
.footer-logo {
    width: 100%;
}
.footer-nav a{
    display: flex;
    justify-content:center ;
    padding-right: 10px;
    color: white;
    padding-top: 15px;

}
.footer-app {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding-top: 15px;
}
.footer-text {
    color: #ffffff1f;
    font-size: 15px;
    padding-top: 15px;
}







